<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatbot</title>
</head>
<body>

<!-- <form action="/sendMessage" method="post">-->
<!--     <input type="text" name="sender" placeholder="Your Name" required>-->
<!--     <input type="text" name="message" placeholder="Type Your Message">-->
<!--     <button type="submit">send</button>-->

     <div>
         <h3>click on whatsapp icon</h3>
         <a href="https://wa.me/8390814824?text=Hello%20how%20may%20I%20help%20you" target="_blank" onclick="handleChat()">
             <img src="https://cdn-icons-png.flaticon.com/512/1384/1384023.png" height="20" width="20" alt="WhatsApp Icon">
         </a>
     </div>

 </form>

<script>

    function handleChat(){



    }


</script>


</body>
</html>